<div class="base-header">
  <div class="header-flexx">
    <div class="back-arr" (click)="backClicked()">
      <img src="../../../../../assets/images/back-arrow.svg" alt="">
    </div>
    <div class="hed-prod-detail">
    <div class="logo">
      <img src="../../../assets/images/point_icon.png" alt="">
      <p> Mart<span>Easy</span></p>
    </div>
    </div>
    <div class="cart-add" routerLink="/my-orders/cart">
      <img src="../../../../../assets/images/cart.svg" alt="">
      <span class="total-prod">1</span>
    </div>
  </div>
</div>
<div class="empty-prod-header"></div>
