ion-content {
    --ion-background-color: #F7F8FA;
}

.back-operation {
    display: flex;
    padding: 30px;
    justify-content: flex-start;

    span {
        font-size: 25px;
    }
}

ion-button {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.sub-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    span {
        font-weight: 500;
        color: #695EFC;
        font-size: 20px;
        font-family: 'Futura LT';
    }
}