<div class="header">
  <ion-header class="ion-no-border">
    <div class="flex-wrapper">
      <div class="toggle" (click)="toggleSideBar()">
        <img src="../../../assets/images/toggle.svg" alt="">
      </div>
      <div class="logo">
        <img src="../../../assets/images/point_icon.png" alt="">
        <p> Mart<span>Easy</span></p>
      </div>
      <p class="seach-cart">
        <img (click)="search()" src="../../../../../assets/images/search.svg" alt="">
        <img class="padd-left" src="../../../../../assets/images/cart.svg" alt="" routerLink="/my-orders/cart">
      </p>
    </div>
  </ion-header>
</div>
<div class="empty-margin"></div>
