<div class="update-profile">
  <div class="cross-update" (click)="dismissModal()">
    <img src="../../../assets/images/update-cross.svg" alt="">
  </div>
  <form [formGroup]="formControl">
    <div class="update-profile-field">
      <label>Password</label>
      <div class="search-wrapper">
        <input name="password" formControlName="password"
          type="password"
          (change)="close($event)"  class="search-box" required />
          <div class="bottom_border"></div>
        <button class="close-icon" type="reset"></button>
        <span class="err-msg" *ngIf="formControl.touched && formControl.controls?.password?.errors" required>Password is Required</span>
      </div>
    </div>
    <div class="update-profile-field">
      <label>New Password</label>
      <div class="search-wrapper">
        <input name="newpassword" formControlName="newpassword"
          type="newpassword"
          (change)="close($event)"  class="search-box" required />
          <div class="bottom_border"></div>
        <button class="close-icon" type="reset"></button>
        <span class="err-msg" *ngIf="formControl.touched && formControl.controls?.newpassword?.errors" required>Password is Required</span>
      </div>
    </div>
    <div class="update-profile-field">
      <label [ngStyle]="{'color': (formControl.controls?.newpassword.value == formControl.controls?.confirmpassword.value) ? '#695EFC' : '#FD6969' }">Confirm new password</label>
      <div class="search-wrapper">
        <input name="confirmpassword" formControlName="confirmpassword"
          type="confirmpassword"
          (change)="close($event)"  class="search-box" required />
          <div class="bottom_border"></div>
        <button class="close-icon" type="reset"></button>
        <span class="err-msg" *ngIf="formControl.touched && formControl.controls?.confirmpassword?.errors && (formControl.controls?.newpassword.value != formControl.controls?.confirmpassword.value)" required>Password does not match</span>
      </div>
    </div>
    <div class="update-profile-btn">
      <button (click)="update()">Update Password</button>
    </div>
  </form>
<div>
