<div class="reviews-wrapp">
  <ul>
    <li>
      <div class="user-imgg">
        <span>JD</span>
      </div>
      <div class="user-ratin-info">
        <div class="review-time">
          <span class="rating">
            <img src="../../../assets/images/full-star.svg" alt="">
            <img src="../../../assets/images/full-star.svg" alt="">
            <img src="../../../assets/images/full-star.svg" alt="">
            <img src="../../../assets/images/full-star.svg" alt="">
            <img src="../../../assets/images/empty-star.svg" alt="">
          </span>
          <span class="time">10 Oct, 2018</span>
        </div>
        <h3>Jane Doe</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
      </div>
    </li>
    <li>
      <div class="user-imgg">
        <span>JD</span>
      </div>
      <div class="user-ratin-info">
        <div class="review-time">
          <span class="rating">
            <img src="../../../assets/images/full-star.svg" alt="">
            <img src="../../../assets/images/full-star.svg" alt="">
            <img src="../../../assets/images/full-star.svg" alt="">
            <img src="../../../assets/images/full-star.svg" alt="">
            <img src="../../../assets/images/empty-star.svg" alt="">
          </span>
          <span class="time">10 Oct, 2018</span>
        </div>
        <h3>Jane Doe</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
      </div>
    </li>
  </ul>
</div>