
.my-orders {
    background: #f5f8fa;
    overflow-y: auto;
    min-height: 100vh;
    .follow-order-main-wrap{
        margin-top: 20px;
    }
}
.order-preview {
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            padding: 0 22px 7px;
            margin-bottom: 5px;
            .listing-wrap{
                background: #fff;
                border: 1px solid #D4D4D4;
                border-radius: 4px;
                .order-list-flex {
                    display: flex;
                    padding: 20px 17px 20px;
                    .order-list-left {
                        width: 60px;
                        height: 60px;
                        position: relative;
                        overflow: hidden;
                        border-radius: 50%;
                        img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            max-width: 40px;
                        }
                    }
                    .order-list-right {
                        width: calc(100% - 70px);
                        padding-left: 10px;
                        h3 {
                            margin: 0;
                            color: #231F20;
                            font-size: 15px;
                            font-family: 'Futura LT';
                        }
                        p {
                            margin: 0;
                            color: #A8ADB7;
                            font-size: 14px;
                            font-family: 'Futura LT';
                            padding: 5px 0 0 0;
                        }
                    }
                }
                .buttons-order button {
                    display: block;
                    border-top: 1px solid #D4D4D4;
                    border-radius: 0px 0px 3px 4px;
                    background: #ffff;
                    padding: 14px 20px;
                    color: #231F20;
                    width: 100%;
                    font-size: 15px;
                    font-family: 'Futura LT';
                    text-align: left;
                    cursor: pointer;
                    position: relative;
                    outline: 0;
                    img {
                        position: absolute;
                        right: 10px;
                        max-width: 12px;
                        top: 50%;
                        transform: translate(-50%,-50%) rotate(180deg);
                    }
                }
            }
        }
    }
}

.no-follow-orders {
    max-width: 300px;
    margin: 30px auto 0;
    text-align: center;
    p {
        margin: 0;
        color: #191919;
        font-size: 17px;
        padding-bottom: 20px;
        font-family: 'Futura LT';
        line-height: 1.7;
        img {
            max-width: 18px;
            margin-right: 5px;
            position: relative;
            top: 6px;
        }
    }
}
